<!--
  Generated template for the RiwayatCutiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Riwayat Cuti</ion-title>
    <ion-buttons end style="width: 10%">
      <a (click)="GoToDashboard()"><img style="border-radius: 50%" src="{{ foto}}" width="100%" height="100%"></a>
    </ion-buttons>   
  </ion-navbar>

</ion-header>


<ion-content>
<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh..."
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
<ion-list no-lines>
    <ion-item-sliding *ngFor="let list_riwayat_cuti of lists_riwayat_cuti">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{ list_riwayat_cuti.foto_url }}">
          </ion-avatar>
          <b>Pegawai</b> : {{ list_riwayat_cuti.pegawai }} <br>
          <b>{{ list_riwayat_cuti.username }}</b> <br>
          <b>Jenis Cuti</b> : {{ list_riwayat_cuti.jenis_cuti }} <br>
          <b>TMT</b> : {{ list_riwayat_cuti.tmt }}
        </ion-item>
        <ion-item-options side="left">
        <button ion-button small color="primary" (click)="GoToDetailRiwayatCuti(list_riwayat_cuti.id)">
        <ion-icon name="text"></ion-icon>Detail</button>
        </ion-item-options>
      </ion-item-sliding>
</ion-list>
</ion-content>
