<!--
  Generated template for the RiwayatUnitKerjaNonPegawaiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Riwayat Unit Kerja</ion-title>
    <ion-buttons end style="width: 10%">
      <a (click)="GoToDashboard()">
      <img style="border-radius: 50%" src="{{ foto}}" width="100%" height="100%"></a>
    </ion-buttons>   
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-searchbar name="search" placeholder="Cari Pegawai..."></ion-searchbar>
</ion-content>
