<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
     <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>

    <ion-buttons end style="width: 10%">
      <a (click)="GoToDashboard()"><img style="border-radius: 50%" src="{{ foto }}" width="100%" height="100%"></a>
    </ion-buttons>    
</ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh..."
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card class="fadeIn first">
    <ion-card-header text-center no-padding padding-top>
      Profil Pegawai
    </ion-card-header>
    <hr>

    <ion-grid *ngFor="let list_pegawai_detail of lists_pegawai_detail">

      <ion-row>
        <ion-col col-6>Username
        </ion-col>
        <ion-col col-6 text-right>{{ list_pegawai_detail.username }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>Nama Lengkap
        </ion-col>
        <ion-col col-6 text-right>{{ list_pegawai_detail.nama_lengkap }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>Tempat / Tanggal Lahir
        </ion-col>
        <ion-col col-6 text-right>{{ list_pegawai_detail.tempat_lahir}} / {{ list_pegawai_detail.tanggal_lahir }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>Alamat
        </ion-col>
        <ion-col col-6 text-right>{{ list_pegawai_detail.alamat }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>Jenis Kelamin
        </ion-col>
        <ion-col col-6 text-right>{{ list_pegawai_detail.jenis_kelamin }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>Agama
        </ion-col>
        <ion-col col-6 text-right>{{ list_pegawai_detail.agama }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>Golongan Darah
        </ion-col>
        <ion-col col-6 text-right>{{ list_pegawai_detail.golongan_darah }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>Nomor Taspen
        </ion-col>
        <ion-col col-6 text-right>{{ list_pegawai_detail.nomor_taspen }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>Nomor Karpeg
        </ion-col>
        <ion-col col-6 text-right>{{ list_pegawai_detail.nomor_karpeg }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>BPJS
        </ion-col>
        <ion-col col-6 text-right>{{ list_pegawai_detail.bpjs }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>NPWP
        </ion-col>
        <ion-col col-6 text-right>{{ list_pegawai_detail.npwp }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>Karis Karsu
        </ion-col>
        <ion-col col-6 text-right>{{ list_pegawai_detail.nomor_karis_karsu }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>Email
        </ion-col>
        <ion-col col-6 text-right>{{ list_pegawai_detail.email }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>Nomor Telepon
        </ion-col>
        <ion-col col-6 text-right>{{ list_pegawai_detail.telephone }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>HP
        </ion-col>
        <ion-col col-6 text-right>{{ list_pegawai_detail.nomor_hp }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>Keterangan
        </ion-col>
        <ion-col col-6 text-right>{{ list_pegawai_detail.keterangan }}
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card>

</ion-content>
