page-detail-riwayat-kenaikan-pangkat {
	//BUTTON
      input[type=button], input[type=submit], input[type=reset],  {
        border: none;
        color: white;
        padding: 15px 10px;
        text-align: center;
        text-decoration: none;
        display: block;
        text-transform: uppercase;
        font-size: 15px;
        -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
        box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 10px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        width: 100%;
      }

      #button-content {
      	 padding-right: 1%;
        background: #fff;
        width: 90%;
        text-align: center;
      }  

      .kirim_ke_verifikator{
       background-color: #2196f3;
      }
      .kirim_verifikasi{
      	background-color: #4caf50;
      }
      .download{
      	background-color: #3F51B5;
      }
            
      input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
      }
}
