<!--
  Generated template for the DetailRiwayatKenaikanPangkatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary">

	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Riwayat Kenaikan Pangkat</ion-title>
		<ion-buttons end style="width: 10%">
			<a (click)="GoToDashboard()">
			<img style="border-radius: 50%" src="{{ foto}}" width="100%" height="100%"></a>
		</ion-buttons>   
	</ion-navbar>
</ion-header>


<ion-content no-padding>
	<ion-card *ngFor="let list_detail_riwayat_kenaikan_pangkat of lists_detail_riwayat_kenaikan_pangkat">
		<ion-grid col-12>
			<ion-row>
				<ion-col col-12 text-left>Detail Riwayat ({{ list_detail_riwayat_kenaikan_pangkat.golongan }})</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>

	<ion-card *ngFor="let list_detail_riwayat_kenaikan_pangkat of lists_detail_riwayat_kenaikan_pangkat">

		<ion-grid>
			<ion-row>
				<ion-col col-6>Golongan
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_kenaikan_pangkat.golongan }}
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>Jabatan 
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_kenaikan_pangkat.jabatan }}
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>Status Pegawai
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_kenaikan_pangkat.status_pegawai }}
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>Jenis Kenaikan Pangkat
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_kenaikan_pangkat.jenis_kenaikan_pangkat }}
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>TMT
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_kenaikan_pangkat.tmt }}
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>Gaji Pokok Baru
				</ion-col>
				<ion-col col-6 text-left> {{ list_detail_riwayat_kenaikan_pangkat.gaji_pokok_baru }}
				</ion-col>
			</ion-row>

		</ion-grid>
		<div id="button-content">
		<div *ngIf=" groups == 'Operator' ">
			<input type="submit" (click)="doSubmitToVerifikator(list_detail_riwayat_kenaikan_pangkat.id)" value="Kirim ke Verifikator" class="kirim_ke_verifikator" *ngIf=" list_detail_riwayat_kenaikan_pangkat.status == 6">
		</div>
		<div *ngIf=" groups == 'Verifikator' ">
			<input type="submit" (click)="doSubmitVerifikasi(list_detail_riwayat_kenaikan_pangkat.id)" value="Verifikasi" class="kirim_verifikasi" *ngIf=" list_detail_riwayat_kenaikan_pangkat.status == 2">
		</div>
		<!-- <input type="submit" value="Download Berkas" class="download" (click)=downloadFile(list_detail_riwayat_kenaikan_pangkat.berkas_url)> -->

			<!-- <input type="button" value="Kirim ke Verifikator" class="kirim_ke_verifikator">
			<input type="button" value="Verifikasi" class="kirim_verifikasi">
			<input type="button" value="Download Berkas" class="download"> -->
		</div>
		<ion-input type="text" [(ngModel)]="error.data" name="data"></ion-input>
	</ion-card>
</ion-content>
