<!--
  Generated template for the DetailRiwayatUnitKerjaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Riwayat Unit Kerja</ion-title>
		<ion-buttons end style="width: 10%">
			<a (click)="GoToDashboard()">
			<img style="border-radius: 50%" src="{{ foto}}" width="100%" height="100%"></a>
		</ion-buttons>   
	</ion-navbar>
</ion-header>


<ion-content no-padding>

	<ion-card>
		<ion-grid col-12>
			<ion-row *ngFor="let list_detail_riwayat_unit_kerja of lists_detail_riwayat_unit_kerja">
				<ion-col col-12 text-left>Detail Riwayat ({{ list_detail_riwayat_unit_kerja.unit_kerja }})</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>

	<ion-card *ngFor="let list_detail_riwayat_unit_kerja of lists_detail_riwayat_unit_kerja">

		<ion-grid>
			<ion-row>
				<ion-col col-6>Nama Satker
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_unit_kerja.unit_kerja }}
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>Wilayah Kerja 
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_unit_kerja.wilayah_kerja }}
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>Bidang Struktural
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_unit_kerja.bidang_struktural }}
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>Tanggal Mulai
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_unit_kerja.tmt }}
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>Tanggal SK
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_unit_kerja.tanggal_sk }}
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>Nomor SK
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_unit_kerja.nomor_sk }}
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>Keterangan
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_unit_kerja.keterangan }}
				</ion-col>
			</ion-row>
		</ion-grid>
	<div id="button-content">
	<div *ngIf=" groups == 'Operator' ">
		<input type="submit" (click)="doSubmitToVerifikator(list_detail_riwayat_unit_kerja.id)" value="Kirim ke Verifikator" class="kirim_ke_verifikator" *ngIf=" list_detail_riwayat_unit_kerja.status == 6">
	</div>
	<div *ngIf=" groups == 'Verifikator' ">
		<input type="submit" (click)="doSubmitVerifikasi(list_detail_riwayat_unit_kerja.id)" value="Verifikasi" class="kirim_verifikasi" *ngIf=" list_detail_riwayat_unit_kerja.status == 2">
	</div>
	<div *ngIf=" list_detail_riwayat_unit_kerja.berkas_url != '-' ">
	<input type="submit" value="Download Berkas" class="download" (click)=checking_permissions_to_download(list_detail_riwayat_unit_kerja.berkas_url)>
	</div>

		<!-- <input type="button" value="Kirim ke Verifikator" class="kirim_ke_verifikator">
		<input type="button" value="Verifikasi" class="kirim_verifikasi">
		<input type="button" value="Download Berkas" class="download"> -->
	</div>
	<ion-input type="hidden" [(ngModel)]="error.data" name="data"></ion-input>
	</ion-card>

</ion-content>
