<!--
  Generated template for the RiwayatJabatanAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  	<ion-navbar color="primary">
 		<ion-title>Riwayat Jabatan Baru</ion-title>
 	</ion-navbar>

</ion-header>


<ion-content padding>
	<form (submit)="doSubmitJabatan()">
 		<ion-item-group>
 		<ion-item-divider color="light">Pegawai</ion-item-divider>
 		<ion-item>
 			<ion-label style="color: black;">NIP Pegawai</ion-label>
 			<ion-input type="text" [(ngModel)]="jabatan_data.nama_pegawai" name="nama_pegawai"
 			 (click)="openModalCariPegawai()" disabled></ion-input>
 		</ion-item>
 			<ion-input type="hidden" [(ngModel)]="jabatan_data.pegawai" name="pegawai"></ion-input>

 		<ion-item>
 			<ion-label style="color: black;">Unit Kerja</ion-label>
 			<ion-input type="text" [(ngModel)]="jabatan_data.unit_kerja" name="unit_kerja" 
 			(click)="openModalCariUnitKerja()" disabled></ion-input>
 		</ion-item>
 			<ion-input type="hidden" [(ngModel)]="jabatan_data.value_unit_kerja" name="value_unit_kerja" ></ion-input>

 		<ion-item>
 			<ion-label>Jabatan</ion-label>
 			<ion-select [(ngModel)]="jabatan_data.jabatan" name="jabatan">
 				<ion-option *ngFor="let item of items" value="{{ item.id }}">{{ item.jabatan }}</ion-option>
 			</ion-select>
 		</ion-item>

 		<ion-item>
 			<ion-label>Jenis Jabatan</ion-label>
 			<ion-select [(ngModel)]="jabatan_data.jenis_jabatan" name="jenis_jabatan">
 				<ion-option *ngFor="let item of items" value="{{ item.id }}">{{ item.jabatan }}</ion-option>
 			</ion-select>
 		</ion-item>

 		<ion-item>
 			<ion-label>Eselon Jabatan</ion-label>
 			<ion-select [(ngModel)]="jabatan_data.eselon_jabatan" name="eselon_jabatan">
 				<ion-option *ngFor="let item of items" value="{{ item.id }}">{{ item.jabatan }}</ion-option>
 			</ion-select>
 		</ion-item>

 		<ion-item>
		  <ion-label>Apakah PLT ?</ion-label>
		  <ion-checkbox [(ngModel)]="jabatan_data.plt" name="plt" color="primary" checked="true"></ion-checkbox>
		</ion-item>

		<ion-item>
 			<ion-input [(ngModel)]="jabatan_data.angka_kredit_utama"  type="text" placeholder="Angka Kredit Utama" name="angka_kredit_utama"></ion-input>
 		</ion-item>

 		<ion-item>
 			<ion-label>TMT</ion-label>
 			<ion-datetime displayFormat="MMMM, DD YYYY" max="2030"  [(ngModel)]="jabatan_data.tmt" name="tmt">
 			</ion-datetime>
 		</ion-item>

 		<ion-item>
 			<ion-textarea [(ngModel)]="jabatan_data.keterangan" type="textarea" placeholder="Keterangan" name="keterangan"></ion-textarea>
 		</ion-item>

 		<ion-item-divider color="light">Surat</ion-item-divider>
 		<ion-item>
 			<ion-input [(ngModel)]="jabatan_data.surat" type="text" placeholder="No. Surat" name="surat"></ion-input>
 		</ion-item>
 		<ion-item>
 			<ion-label>Tanggal Surat</ion-label>
 			<ion-datetime displayFormat="MMMM, DD YYYY" max="2030"  [(ngModel)]="jabatan_data.tanggal_surat" name="tanggal_surat">
 			</ion-datetime>
 		</ion-item>
 		<ion-item>
 			<ion-input [(ngModel)]="jabatan_data.nama_pejabat_penandatangan" type="text" placeholder="Nama Pejabat Penandatangan" name="nama_pejabat_penandatangan"></ion-input>
 		</ion-item>
 		<ion-item>
 			<ion-input [(ngModel)]="jabatan_data.jabatan_pejabat_penandatangan" type="text" placeholder="Jabatan Pejabat Penandatangan" name="jabatan_pejabat_penandatangan"></ion-input>
 		</ion-item>
 			<ion-input  type="hidden"  [(ngModel)]="jabatan_data.nama_lampiran" placeholder="Lampiran" name="nama_lampiran"></ion-input >
 		<ion-row>
 			<ion-col style="text-align: left; padding-left: 20px;">
 			<button ion-button (click)="pilihfile()" type="button">Pilih file</button>
 			</ion-col>
 		</ion-row>
 		<ion-item *ngIf=" imageFilePath != null ">
	 		<div style="margin: 0 auto;text-align: left;width: 90%; height:70%;">
	 			<img src="{{ imageFilePath }}"/>
	 		</div>
 		</ion-item> 
 		</ion-item-group>
 		<br>
 		<ion-row>
 			<ion-col style="text-align: center;">
 				<button ion-button block type="submit">Submit</button>
 			</ion-col>
 		</ion-row>
 		<ion-row>
 			<ion-col style="text-align: center;">
 				<button ion-button block type="reset" color="danger" (click)="resetImage()">Reset</button>
 			</ion-col>
 		</ion-row>
 	</form>	
</ion-content>
