<!--
  Generated template for the RiwayatKenaikanPangkatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="font-size: 13px;">Riwayat Kenaikan Pangkat</ion-title>
    <ion-buttons end style="width: 10%">
      <a (click)="GoToDashboard()"><img style="border-radius: 50%" src="{{ foto}}" width="100%" height="100%"></a>
    </ion-buttons>   
  </ion-navbar>

</ion-header>


<ion-content>
<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh..."
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
<div style="padding-bottom: auto;" *ngIf=" groups == 'Operator' ">
  <form (submit)="operator_getDataRiwayatUnitKerja()">
    <ion-searchbar placeholder="Cari Pegawai...." [(ngModel)]="form_operator.operator_cari_pegawai" name="operator_cari_pegawai"></ion-searchbar>
  </form>
</div>
<div *ngIf=" groups == 'Verifikator' ">
  <form (submit)="verifikator_getDataRiwayatUnitKerja()">
    <ion-searchbar placeholder="Cari Pegawai...." [(ngModel)]="form_verifikator.verifikator_cari_pegawai" name="verifikator_cari_pegawai"></ion-searchbar>
  </form>
</div>

<ion-list no-lines>
<ion-item-sliding *ngFor="let list_riwayat_kenaikan_pangkat of lists_riwayat_kenaikan_pangkat">
    <ion-item style="color: #f53d3d" *ngIf=" list_riwayat_kenaikan_pangkat.status == 6">
      <ion-avatar item-start>
        <img src="{{ list_riwayat_kenaikan_pangkat.foto_url }}">
      </ion-avatar>
    <b>Pegawai</b> : {{ list_riwayat_kenaikan_pangkat.pegawai }} <br>
    <b>{{ list_riwayat_kenaikan_pangkat.username }}</b> <br>
    <b>Nama KP</b> : {{ list_riwayat_kenaikan_pangkat.jabatan }} <br>
    <b>TMT</b> : {{ list_riwayat_kenaikan_pangkat.tmt }}
    </ion-item>
    <ion-item-options side="right">
    <button ion-button small color="danger" (click)="GoToDetailRiwayatKenaikanPangkat(list_riwayat_kenaikan_pangkat.id)">
    <ion-icon name="text"></ion-icon>Detail</button>
    </ion-item-options>
  </ion-item-sliding>
  
<ion-item-sliding *ngFor="let list_riwayat_kenaikan_pangkat of lists_riwayat_kenaikan_pangkat">
    <ion-item style="color: #4caf50" *ngIf=" list_riwayat_kenaikan_pangkat.status == 2">
      <ion-avatar item-start>
        <img src="{{ list_riwayat_kenaikan_pangkat.foto_url }}">
      </ion-avatar>
    <b>Pegawai</b> : {{ list_riwayat_kenaikan_pangkat.pegawai }} <br>
    <b>{{ list_riwayat_kenaikan_pangkat.username }}</b> <br>
    <b>Nama KP</b> : {{ list_riwayat_kenaikan_pangkat.jabatan }} <br>
    <b>TMT</b> : {{ list_riwayat_kenaikan_pangkat.tmt }}
    </ion-item>
    <ion-item-options side="right">
    <button ion-button small color="primary" (click)="GoToDetailRiwayatKenaikanPangkat(list_riwayat_kenaikan_pangkat.id)">
    <ion-icon name="text"></ion-icon>Detail</button>
    </ion-item-options>
  </ion-item-sliding>

<ion-item-sliding *ngFor="let list_riwayat_kenaikan_pangkat of lists_riwayat_kenaikan_pangkat">
    <ion-item style="color: black;" *ngIf=" list_riwayat_kenaikan_pangkat.status == 1">
      <ion-avatar item-start>
        <img src="{{ list_riwayat_kenaikan_pangkat.foto_url }}">
      </ion-avatar>
    <b>Pegawai</b> : {{ list_riwayat_kenaikan_pangkat.pegawai }} <br>
    <b>{{ list_riwayat_kenaikan_pangkat.username }}</b> <br>
    <b>Nama KP</b> : {{ list_riwayat_kenaikan_pangkat.jabatan }} <br>
    <b>TMT</b> : {{ list_riwayat_kenaikan_pangkat.tmt }}
    </ion-item>
    <ion-item-options side="right">
    <button ion-button small color="secondary" (click)="GoToDetailRiwayatKenaikanPangkat(list_riwayat_kenaikan_pangkat.id)">
    <ion-icon name="text"></ion-icon>Detail</button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

</ion-content>
