<!--
  Generated template for the DetailRiwayatJabatanPegawaiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Detail Riwayat</ion-title>
		<ion-buttons end style="width: 10%">
			<a (click)="GoToDashboard()">
			<img style="border-radius: 50%" src="{{ foto}}" width="100%" height="100%"></a>
		</ion-buttons>   
	</ion-navbar>

</ion-header>


<ion-content no-padding>
	<ion-card>
		<ion-grid col-12>
			<ion-row>
				<ion-col col-12 text-center>Detail Jabatan Pegawai</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>

	<ion-card *ngFor="let list_detail_riwayat_jabatan of lists_detail_riwayat_jabatan">

		<ion-grid>
			<ion-row>
				<ion-col col-6>Nama Jabatan
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_jabatan.jabatan }}
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>Jenis Jabatan
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_jabatan.jenis_jabatan }}
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>Apakah PLT ?
				</ion-col>
				<ion-col col-6 text-left *ngIf=" list_detail_riwayat_jabatan.plt == false" >Bukan
				</ion-col>
				<ion-col col-6 text-left *ngIf=" list_detail_riwayat_jabatan.plt == true" >Ya
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>Eselon
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_jabatan.eselon_jabatan }}
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>TMT
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_jabatan.tmt }}
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>Tanggal SK
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_jabatan.tgl_sk}}
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>Nomor SK
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_jabatan.no_sk }}
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>Satuan Kerja Jabatan
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_jabatan.unit_kerja}}
				</ion-col>
			</ion-row>


		</ion-grid>
		<div id="button-content">
		<div *ngIf=" groups == 'Operator' ">
			<input type="submit" (click)="doSubmitToVerifikator(list_detail_riwayat_jabatan.id)" value="Kirim ke Verifikator" class="kirim_ke_verifikator" *ngIf=" list_detail_riwayat_jabatan.status == 6">
		</div>
		<div *ngIf=" groups == 'Verifikator' ">
			<input type="submit" (click)="doSubmitVerifikasi(list_detail_riwayat_jabatan.id)" value="Verifikasi" class="kirim_verifikasi" *ngIf=" list_detail_riwayat_jabatan.status == 2">
		</div>
		<!-- <input type="submit" value="Download Berkas" class="download" (click)=downloadFile(list_detail_riwayat_jabatan.berkas_url)> -->

			<!-- <input type="button" value="Kirim ke Verifikator" class="kirim_ke_verifikator">
			<input type="button" value="Verifikasi" class="kirim_verifikasi">
			<input type="button" value="Download Berkas" class="download"> -->
		</div>
		<ion-input type="text" [(ngModel)]="error.data" name="data"></ion-input>
	</ion-card>

</ion-content>
