<!--
  Generated template for the SigninPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content scroll="true">
	<div id="formContent">
		<!-- Tabs Titles -->
		<h2 class="active">Sign In</h2>
		<!-- Icon -->
		<div class="fadeIn first">
		<img src="{{ img_base64 }}" id="icon" alt="User Icon" />
		</div>
	
		<!-- Login Form -->
		<form (submit)="doLogin()">
		<input id="login" class="fadeIn second" type="text" [(ngModel)]="loginData.username" name="username" placeholder="Username">
		<input id="password" class="fadeIn third" type="password" [(ngModel)]="loginData.password" name="password" type="password" placeholder="Password">
		<input type="submit" class="fadeIn fourth" value="Log In">
		</form>
	
	</div>
</ion-content>
