<ion-menu [content]="content" id="myMenu">

  <ion-header>
    <ion-toolbar no-padding color="primary">
    <ion-card *ngFor="let dataHeaders of dataHeader">
      <ion-grid>
      <ion-row>
        <ion-col  no-padding col-12 text-center style="font-size: 18px;"> {{ dataHeaders.nama_lengkap }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col  no-padding col-12 text-center>{{ dataHeaders.riwayat_jabatan }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col  no-padding col-12 text-center>{{ dataHeaders.riwayat_golongan }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col  no-padding col-12 text-center>{{ dataHeaders.riwayat_unit_kerja }}
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list>
      <ion-item-group>
        <ion-item-divider color="light" text-center>Main Menu</ion-item-divider>        
          <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
            <ion-icon name="{{ p.icon }}" item-start color="primary"></ion-icon>
            <p style="font-size: 15px;">{{p.title}}</p>
            <ion-badge *ngIf=" groups == 'Operator' " color="primary" item-end>{{p.badge}}</ion-badge>
            <ion-badge *ngIf=" groups == 'Verifikator' " color="danger" item-end>{{p.badge}}</ion-badge>
          </button>          
      </ion-item-group>
    </ion-list>

    <ion-list>
      <ion-item-group>
        <ion-item-divider color="light" text-center>Lain-lain</ion-item-divider>
      <button menuClose ion-item *ngFor="let p of pagesLain_lain" (click)="openPage(p)" >
        <ion-icon name="{{ p.icon }}" item-start color="primary"></ion-icon>
      <p style="font-size: 15px;" color="primary">{{p.title}}</p>
      </button>
      <button menuClose ion-item (click)="doLogout()">
        <ion-icon name="log-out" item-start color="danger"></ion-icon>
      <p style="font-size: 15px;" color="danger">Logout</p>
      </button>
      </ion-item-group>
    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" (click)="refreshBadge()" (swipe)="refreshBadge()"></ion-nav>