<!--
  Generated template for the RiwayatUnitKerjaModalCariUnitKerjaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-searchbar placeholder="Cari Unit Kerja...." [(ngModel)]="cari_unit_kerja" name="cari_unit_kerja" (ionInput)="checkDigit()"></ion-searchbar>
    <input type="hidden" [(ngModel)]="nama_bidang" name="nama_bidang">
    <ion-buttons end>
    <button ion-button color="light" clear (click)="getListDataUnitKerja()" *ngIf="buttonClicked == 'true'">Cari</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
  <ion-item *ngFor="let item of items" (click)="closeModal(item.id, item.nama_unit_kerja)">
    <h2>{{ item.nama_unit_kerja }}</h2>
    <h3>{{ item.id }}</h3>
  </ion-item>
</ion-list>
</ion-content>
