<!--
  Generated template for the DetailRiwayatCutiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary">

	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Riwayat Cuti</ion-title>
		<ion-buttons end style="width: 10%">
			<a (click)="GoToDashboard()">
			<img style="border-radius: 50%" src="{{ foto}}" width="100%" height="100%"></a>
		</ion-buttons>   
	</ion-navbar>
</ion-header>


<ion-content no-padding>
	<ion-card>
		<ion-grid col-12>
			<ion-row *ngFor="let list_detail_riwayat_cuti of lists_detail_riwayat_cuti">
				<ion-col col-12 text-left>Detail Riwayat ({{ list_detail_riwayat_cuti.jenis_cuti }})</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>

	<ion-card>

		<ion-grid *ngFor="let list_detail_riwayat_cuti of lists_detail_riwayat_cuti">
			<ion-row>
				<ion-col col-6>Jenis Cuti
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_cuti.jenis_cuti }}
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-6>TMT
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_cuti.tmt }}
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-6>Jumlah Cuti
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_cuti.jumlah_cuti }}
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-6>Keterangan
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_cuti.keterangan }}
				</ion-col>
			</ion-row>

		</ion-grid>
	</ion-card>

</ion-content>
