t<!--
  Generated template for the DataKeluargaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Data Keluarga</ion-title>
    <ion-buttons end style="width: 10%">
      <a (click)="GoToDashboard()"><img style="border-radius: 50%" src="{{ foto}}" width="100%" height="100%"></a>
    </ion-buttons>   
  </ion-navbar>

</ion-header>


<ion-content>
<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh..."
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let list_data_keluarga of lists_data_keluarga">
    <ion-card-header text-center>
      <b>Nama Pegawai</b> : {{ list_data_keluarga.pegawai }} <br>
      <b>Nama Pasangan</b> : {{ list_data_keluarga.get_pasangan_pegawai }}
      <hr>
    </ion-card-header>
    <ion-card-content>
    <div *ngIf=" list_data_keluarga.status_tunjangan == true">
      <b>Status Tunjangan</b> : Ya <br>
    </div>
    <div *ngIf=" list_data_keluarga.status_tunjangan == false">
      <b>Status Tunjangan</b> : Tidak <br>
    </div>
      <b>Jenis Perceraian</b> : {{ list_data_keluarga.jenis_perceraian }} <br>
    </ion-card-content>
  </ion-card>

  <ion-card>
  <ion-card-header text-center>
    <b>Data Anak</b>
    <hr>
  </ion-card-header>
  <ion-card *ngFor="let list_data_anak of lists_data_anak">
  <ion-card-content>
    <b>Nama Anak </b> : {{ list_data_anak.nama_anak }} <br>
    <b>Jenis Anak</b> : {{ list_data_anak.jenis_anak }} <br>
    <b>Tempat Tanggal Lahir</b> : {{ list_data_anak.tempat_lahir }}, {{ list_data_anak.tanggal_lahir }} <br>
    <b>Jenis Kelamin</b> : {{ list_data_anak.jenis_kelamin }} <br>
    <b>Agama</b> : {{ list_data_anak.agama }} <br>
    <div *ngIf=" list_data_anak.status_tunjangan == true">
      <b>Status Tunjangan</b> : Ya <br>
    </div>
    <div *ngIf=" list_data_anak.status_tunjangan == false">
      <b>Status Tunjangan</b> : Tidak <br>
    </div>
  </ion-card-content>
  </ion-card>
  </ion-card>
</ion-content>
