<!--
  Generated template for the DetailRiwayatPendidikanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary">

	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Riwayat Pendidikan</ion-title>
		<ion-buttons end style="width: 10%">
			<a (click)="GoToDashboard()">
			<img style="border-radius: 50%" src="{{ foto}}" width="100%" height="100%"></a>
		</ion-buttons>   
	</ion-navbar>
</ion-header>

<ion-content no-padding>
	<ion-card>
		<ion-grid col-12>
			<ion-row *ngFor="let list_detail_riwayat_pendidikan of lists_detail_riwayat_pendidikan">
				<ion-col col-12 text-left>Detail Riwayat ({{ list_detail_riwayat_pendidikan.jenjang_pendidikan }})</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>

	<ion-card  *ngFor="let list_detail_riwayat_pendidikan of lists_detail_riwayat_pendidikan">

		<ion-grid>
			<ion-row>
				<ion-col col-6>Pendidikan
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_pendidikan.jenjang_pendidikan }}
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>Jurusan 
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_pendidikan.jurusan_pendidikan }}
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>Instansi Pendidikan
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_pendidikan.instansi_pendidikan }}
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>Kota
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_pendidikan.kota }}
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>Pendidikan Terakhir
				</ion-col>
				<ion-col col-6 text-left *ngIf=" list_detail_riwayat_pendidikan.pendidikan_terakhir == 'True' ">Ya
				</ion-col>
				<ion-col col-6 text-left *ngIf=" list_detail_riwayat_pendidikan.pendidikan_terakhir == 'False' ">Tidak
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>Tanggal Ijazah
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_pendidikan.tanggal_ijazah }}
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>Nomer Ijazah
				</ion-col>
				<ion-col col-6 text-left>{{ list_detail_riwayat_pendidikan.nomor_ijazah }}
				</ion-col>
			</ion-row>

		</ion-grid>
		<div id="button-content">
		<div *ngIf=" groups == 'Operator' ">
			<input type="submit" (click)="doSubmitToVerifikator(list_detail_riwayat_pendidikan.id)" value="Kirim ke Verifikator" class="kirim_ke_verifikator" *ngIf=" list_detail_riwayat_pendidikan.status == 6">
		</div>
		<div *ngIf=" groups == 'Verifikator' ">
			<input type="submit" (click)="doSubmitVerifikasi(list_detail_riwayat_pendidikan.id)" value="Verifikasi" class="kirim_verifikasi" *ngIf=" list_detail_riwayat_pendidikan.status == 2">
		</div>
		<!-- <input type="submit" value="Download Berkas" class="download" (click)=downloadFile(list_detail_riwayat_pendidikan.berkas_url)> -->

			<!-- <input type="button" value="Kirim ke Verifikator" class="kirim_ke_verifikator">
			<input type="button" value="Verifikasi" class="kirim_verifikasi">
			<input type="button" value="Download Berkas" class="download"> -->
		</div>
		<ion-input type="text" [(ngModel)]="error.data" name="data"></ion-input>
	</ion-card>

</ion-content>
