<!--
  Generated template for the RiwayatUnitKerjaModalCariPegawaiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-searchbar placeholder="Cari Pegawai...." [(ngModel)]="cari_pegawai" name="cari_pegawai" (ionInput)="checkDigit()"></ion-searchbar>
    <ion-buttons end>
    <button ion-button color="light" clear (click)="getListDataPegawaiAktif()" *ngIf="buttonClicked == 'true'">Cari</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
  <ion-item *ngFor="let item of items" (click)="closeModal(item.id, item.username)">
    <h2>{{ item.nama_lengkap }}</h2>
    <h3>{{ item.username }}</h3>
  </ion-item>
</ion-list>
</ion-content>
