<!--
  Generated template for the RiwayatUnitKerjaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Riwayat Unit Kerja</ion-title>
    <ion-buttons end style="width: 10%">
      <a (click)="GoToDashboard()">
      <img style="border-radius: 50%" src="{{ foto}}" width="100%" height="100%"></a>
    </ion-buttons>   
  </ion-navbar>
  
</ion-header>


<ion-content>
<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh..."
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
<ion-fab right bottom  *ngIf=" groups == 'Operator' ">
    <button ion-fab color="primary" (click)="GoToAddRiwayatUnitKerja()"><ion-icon name="add"></ion-icon></button>
</ion-fab>

<div *ngIf=" groups == 'Operator' ">
  <form (submit)="operator_getDataRiwayatUnitKerja()">
    <ion-searchbar placeholder="Cari Pegawai...." [(ngModel)]="form_operator.operator_cari_pegawai" name="operator_cari_pegawai"></ion-searchbar>
  </form>
</div>
<div *ngIf=" groups == 'Verifikator' ">
  <form (submit)="verifikator_getDataRiwayatUnitKerja()">
    <ion-searchbar placeholder="Cari Pegawai...." [(ngModel)]="form_verifikator.verifikator_cari_pegawai" name="verifikator_cari_pegawai"></ion-searchbar>
  </form>
</div>

<ion-list no-lines>
<ion-item-sliding *ngFor="let list_riwayat_unit_kerja of lists_riwayat_unit_kerja">
    <ion-item style="color: #f53d3d" *ngIf=" list_riwayat_unit_kerja.status == 6">
      <ion-avatar item-start>
        <img src="{{ list_riwayat_unit_kerja.foto_url }}">
      </ion-avatar>
    <b>Pegawai</b> : {{ list_riwayat_unit_kerja.pegawai }} <br>
    <b>{{ list_riwayat_unit_kerja.username }}</b> <br>
    <b>Nama Unit Kerja</b> : {{ list_riwayat_unit_kerja.unit_kerja }} <br>
    <b>Tanggal Mulai</b> : {{ list_riwayat_unit_kerja.tmt }}
    </ion-item>
    <ion-item-options side="right">
    <button ion-button small color="danger" (click)="GoToDetailRiwayatUnitKerja(list_riwayat_unit_kerja.id)">
    <ion-icon name="text"></ion-icon>Detail</button>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding *ngFor="let list_riwayat_unit_kerja of lists_riwayat_unit_kerja">
    <ion-item  style="color: #4caf50;" *ngIf=" list_riwayat_unit_kerja.status == 2">
      <ion-avatar item-start>
        <img src="{{ list_riwayat_unit_kerja.foto_url }}">
      </ion-avatar>
    <b>Pegawai</b> : {{ list_riwayat_unit_kerja.pegawai }} <br>
    <b>{{ list_riwayat_unit_kerja.username }}</b> <br>
    <b>Nama Unit Kerja</b> : {{ list_riwayat_unit_kerja.unit_kerja }} <br>
    <b>Tanggal Mulai</b> : {{ list_riwayat_unit_kerja.tmt }}
    </ion-item>
    <ion-item-options side="right">
    <button ion-button small color="primary" (click)="GoToDetailRiwayatUnitKerja(list_riwayat_unit_kerja.id)">
    <ion-icon name="text"></ion-icon>Detail</button>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding *ngFor="let list_riwayat_unit_kerja of lists_riwayat_unit_kerja" no-lines>
    <ion-item style="color:black;" *ngIf=" list_riwayat_unit_kerja.status == 1">
      <ion-avatar item-start>
        <img src="{{ list_riwayat_unit_kerja.foto_url }}">
      </ion-avatar>
    <b>Pegawai</b> : {{ list_riwayat_unit_kerja.pegawai }} <br>
    <b>{{ list_riwayat_unit_kerja.username }}</b> <br>
    <b>Nama Unit Kerja</b> : {{ list_riwayat_unit_kerja.unit_kerja }} <br>
    <b>Tanggal Mulai</b> : {{ list_riwayat_unit_kerja.tmt }}
    </ion-item>
    <ion-item-options side="right">
    <button ion-button small color="secondary" (click)="GoToDetailRiwayatUnitKerja(list_riwayat_unit_kerja.id)">
        <ion-icon name="text"></ion-icon>Detail</button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

</ion-content>
